.UserProfile {
    text-align: left;
    background-color: #9a8b8b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

* {
    box-sizing: border-box;
}
form {
    width: 40%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=disabled-text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ecdb9c;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit] {
    background-color: #82a0b4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
    margin-top: 40px;
    position: center;
    font-size: 12pt;
}
input[type=submit]:hover {
    background-color: #45a049;
}
label[type=user_profile_fields_labels] {
    font-size: 12pt;
    float: left;
    margin-top: 5px;
}