.Login {
    text-align: center;
    background-color: #eca6a6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

input[type=auth_username] {
    padding: 5px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password] {
    padding: 5px 12px;
    margin: 8px 0;
    box-sizing: border-box;
}