.Register {
    text-align: left;
    background-color: #F2C57C;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
    padding-bottom: 100px;
}

div.auth {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
    align-items: center;
    justify-content: center;

}
div.auth label       { text-align:right; }
div.auth label:after { content: ":"; }

input.auth_submit {
    background-color: #426a5a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    margin-top: 40px;
    font-size: 12pt;
}
input.auth_submit:hover {
    background-color: #45a049;
}
label.authLabel {
    font-size: 12pt;
}

div.submitButtonHolder {
    text-align: center;
}

h3[type="profile_page_title"]{
    width: 100%;
    text-align: center;
    color: #426a5a;
}

button.anotherAuthAction {
    background-color: #ef6f6c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 12pt;
    width: 30%;
}

div.anotherAuthActionButtonHolder {
    width: 100%;
    text-align: center;
}
button.anotherAuthAction:hover {
    background-color: #45a049;
}

label.message {
    color: #3d3d3d;
    font-size: 12pt;
}